<%= simple_form_for(@curriculum,
  :url => {
    :action => @params_action}, 
  :html => { 
    :class => 'form-horizontal', 
    :multipart => true, 
    :role => 'form'
  }) do |f| %>
  <div class="form-margin">
    <%= f.label :total, '<i class="ace-icon fa fa-chevron-right orange"></i> 차시수'.html_safe, :class => 'form-label' %>
    <%= f.input :total, 
                :label => false, 
                :class => 'form-control' %>                   
    
    <%= f.label :title, '<i class="ace-icon fa fa-chevron-right orange"></i> 과정명'.html_safe, :class => 'form-label' %>
    <%= f.input :title, 
                :label => false, 
                :class => 'form-control' %>     

    <%= f.label :title, '<i class="ace-icon fa fa-chevron-right orange"></i> 공통경로'.html_safe, :class => 'form-label' %>
    <%= f.input :location, 
                :label => false, 
                :class => 'form-control' %>

    <%= f.label :title, '<i class="ace-icon fa fa-chevron-right orange"></i> 시작파일명'.html_safe, :class => 'form-label' %>
    <%= f.input :start, 
                :label => false, 
                :class => 'form-control' %> 
    
    <%= f.label :width, '<i class="ace-icon fa fa-chevron-right orange"></i> 가로'.html_safe, :class => 'form-label' %>
    <%= f.input :width, 
                :label => false, 
                :class => 'form-control',
                :min => 100,
                :input_html => { :value => current_project.width } %>

    <%= f.label :height, '<i class="ace-icon fa fa-chevron-right orange"></i> 세로'.html_safe, :class => 'form-label' %>
    <%= f.input :height, 
                :label => false,
                :min => 100,
                :class => 'form-control',
                :input_html => { :value => current_project.height } %>

    <div class="div-bottom-btnset">
      <%= link_to '목록보기', curriculums_path(current_project), 
                  :class         => 'btn btn-success btn-sm' %>
      <% if @params_action == 'create' %>
        <%= f.button  :submit, '저장하기', 
                      :class         => 'btn-primary btn-sm', 
                      :confirm       => '등록 하시겠습니까?'%>
      <% else %>
        <%= f.button  :submit, '수정하기', 
                      :class         => 'btn-pink btn-sm', 
                      :confirm       => '수정 하시겠습니까?'%>
      <% end %>
    </div>
  </div>
<% end %>
