<div class="widget-box transparent">
  <div class="widget-header widget-header-flat">
    <h4 class="widget-title lighter">
      <i class="ace-icon fa fa-star orange"></i>
      <span class="title">
        <%= @curriculum.title %>
      </span>
    </h4>

    <div class="widget-toolbar">
      <a href="#" data-action="collapse">
        <i class="ace-icon fa fa-chevron-down"></i>
      </a>
    </div>
  </div>

  <div class="widget-body">
    <div class="widget-main no-padding">
      <table class="table table-bordered table-striped">
        <thead class="thin-border-bottom">
          
        </thead>
        <tbody>
          <tr>
            <td class="dark-blue"> 과정코드</td>
            <td class="c_code"><%= @curriculum.c_code %></td>
          </tr>
            <td class="dark-blue"> 생성일</td>
            <td class="created_at"><%= @curriculum.created_at %></td>
          </tr>
          <tr>
            <td class="dark-blue"> 공통경로</td>
            <td class="location"><%= @curriculum.location %></td>
          </tr>
          <tr>
            <td class="dark-blue"> 시작파일</td>
            <td class="start"><%= @curriculum.start %></td>
          </tr>
          <tr>
            <td class="dark-blue"> 개발물 가로</td>
            <td class="width"><%= @curriculum.width %></td>
          </tr>
          <tr>
            <td class="dark-blue"> 개발물 세로</td>
            <td class="height"><%= @curriculum.height %></td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.widget-main -->
  </div><!-- /.widget-body -->
</div><!-- /.widget-box -->
<div class="modal-footer">
  <%= link_to '수정하기', edit_project_curriculum_path(current_project, @curriculum), :class => 'btn btn-sm btn-pink' %>
  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">닫기</button>
</div>