<%= simple_form_for(@board, 
  :url => {
    :action => @params_action, :board_id => @original_board }, 
  :html => { 
    :class => 'form-horizontal', 
    :multipart => true, 
    :role => 'form'
  }) do |f| %>

  <!-- <% if @board.errors.any? %>
    <% @board.errors.full_messages.each do |message| %>
      <p> <%= message %> </p>
    <% end %>
  <% end %> -->
  
  <div class="form-margin">
    <%= f.label :pre_title, '<i class="ace-icon fa fa-chevron-right orange"></i> 머릿말'.html_safe, :class => 'form-label' %>
    <%= f.input :pre_title,
                :label => false,
                :input_html => {:class => 'form-control'},
                :collection => notice_option,
                :prompt => "머릿말을 선택해 주세요." %>

    <%= f.label :title, '<i class="fa fa-chevron-right orange"></i> 제목'.html_safe, :class => 'form-label' %>
    <%= f.input :title,
                  :label => false,
                  :input_html => {:class => 'form-control'} %>

    <%= f.label :data, '<i class="fa fa-chevron-right orange"></i> 파일첨부'.html_safe, :class => 'form-label'%>
    <%= f.file_field :data,
                  :label => false,
                  :class => 'form-control', 
                  :as => :file %>
    <% if @params_action == "update" && @board.data_file_name != nil%>
      <dl>
        <dt class="text-info">기존 파일 : <%= @board.data_file_name %> </dt>
        <dd class="text-warning bigger-110 orange"> <i class="ace-icon fa fa-warning"></i> 업로드 시 기존 데이터는 삭제됩니다.</dd>
      </dl>
    <% end %>

    <% if @board.errors.any? %>
      <% if @board.errors[:data][0].to_s != "" %>
        <dl>
          <span class="help-inline">
            파일은 ZIP, PDF, 파워포인트, 엑셀, 워드, 한글 형식만 업로드 가능합니다.
          </span>
        </dl>
      <% end %>
    <% end %>

    <%= f.label :content, '<i class="fa fa-chevron-right  orange"></i> 내용'.html_safe, :class => 'form-label'%>
    <!-- <div class="wysiwyg-editor" id="editor1"></div> -->
    <%= f.input :content,
               :label => false, :as => 'text', :input_html => {:class => 'form-control', :rows => 20} %>
    
    <% if @board.errors.any? %>
      <span class="help-inline">
        <%= @board.errors[:content][0] %>
      </span>
    <% end %>
    <div class="space-4"></div>

    <div class="div-bottom-btnset">
      <%= link_to '목록보기', notices_path(current_project), 
                  :class         => 'btn btn-success btn-sm' %>
      
      <% if @params_action == "create" %>
        <%= f.button  :submit, '저장하기', 
                    :class         => 'btn-primary btn-sm', 
                    :confirm       => '등록 하시겠습니까?'%>
      <% else %>
        <%= f.button  :submit, '저장하기', 
                    :class         => 'btn-primary btn-sm', 
                    :confirm       => '수정 하시겠습니까?'%>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    // $('input[name=commit]').click(function(event) {
    //   var _html_text = $('#editor1').html();
    //   $('input[name="board[content]"]').val(_html_text);
    // });

    // var getContent = $('input[name="board[content]"]').val();
    // if(getContent != ""){
    //   $('#editor1').html(getContent);
    // }

    function showErrorAlert (reason, detail) {
      var msg='';
      if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
      else {
        //console.log("error uploading file", reason, detail);
      }
      $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+ 
       '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
    };

    // $('#editor1').ace_wysiwyg({
    //   toolbar:
    //   [
    //     'font',
    //     null,
    //     'fontSize',
    //     null,
    //     {name:'bold', className:'btn-info'},
    //     {name:'italic', className:'btn-info'},
    //     {name:'strikethrough', className:'btn-info'},
    //     {name:'underline', className:'btn-info'},
    //     null,
    //     {name:'insertunorderedlist', className:'btn-success'},
    //     {name:'insertorderedlist', className:'btn-success'},
    //     {name:'outdent', className:'btn-purple'},
    //     {name:'indent', className:'btn-purple'},
    //     null,
    //     {name:'justifyleft', className:'btn-primary'},
    //     {name:'justifycenter', className:'btn-primary'},
    //     {name:'justifyright', className:'btn-primary'},
    //     {name:'justifyfull', className:'btn-inverse'},
    //     null,
    //     {name:'createLink', className:'btn-pink'},
    //     {name:'unlink', className:'btn-pink'},
    //     null,
    //     {name:'undo', className:'btn-grey'},
    //     {name:'redo', className:'btn-grey'}
    //   ],
    //   'wysiwyg': {
    //     fileUploadError: showErrorAlert
    //   }
    // }).prev().addClass('wysiwyg-style2');
  })
</script>
