<tr>
	<% if board.level == 1 %>
  	<td><%= board.id %></td>
  <% else %>
  	<td>
     <% if find_original(board.group_no) == nil %> 
      -
     <% end %>
    </td>
  <% end %>
  <td class="center"><%= board.pre_title %></td>
  <td class="board_title" style="padding-left:<%= board.level.to_i * 20%>px;">
  	<% if board.level != 1 %>
  		<i class="ace-icon fa fa-level-up blue"></i>
  		<% if find_original(board.group_no) != nil %>
        <span class="text-danger"> [답글]</span>
      <% else %>
        <span class="text-danger"> [삭제된 게시물에 대한 답변입니다.]</span>
      <% end %>
	    <%= link_to board.title, notice_path(current_project, board) %>

	    <% if new_tag(board.created_at) == true %>
	      <span class="label label-warning">NEW</span>
	    <% end %>
	  <% else %>
	  	<%= link_to board.title, notice_path(current_project, board) %>

	    <% if new_tag(board.created_at) == true %>
	      <span class="label label-warning">NEW</span>
	    <% end %>
	 	<% end %>
  </td>
  <td class="center">
    <% if board.data_file_name != nil %>
      <%= link_to '<i class="ace-icon fa fa-download pink"></i>'.html_safe, download_notice_path(current_project, board), 
      :target => "_blank",
      'data-rel'       => 'tooltip', 
      'data-toggle'    => "tooltip", 
      'data-placement' => "bottom",
      'title' => board.data_file_name %>
    <% end %>
  </td>
  <td class="center"><%= board.user.name %></td>
  <td class="center"><%= board.created_at %></td>
  <td class="center"><%= board.count_at %></td>
</tr>