<div class="authform">
  <h3>My Page</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name, '이름 :' %>
      <%= f.text_field :name, :autofocus => true, :autocomplete => 'off', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, '이메일 :' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, '비밀번호 :' %>
      <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, '비밀번호 확인 :' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :company, '회사명 :' %>
      <%= f.text_field :company, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :role_type, '역할 :' %></br>
      <%= f.select :role_type, 
                    User::ROLE_TYPES,
                    :prompt => '선택해주세요',
                    class: 'form-control' %>
    </div>
      <div class="form-group">
        <p class="text-danger"> 정보를 수정하시려면 비밀번호를 입력해 주세요.</p>
        <%= f.label :current_password, '현재 비밀번호' %>
        <%= f.password_field :current_password, :autocomplete => 'off', class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit '수정하기', :class => 'btn btn-warning btn-sm right' %>
  <% end %>
</div>
<!-- <div class="authform">
<h3>회원탈퇴</h3>
<p class="text-info">정말로 탈퇴하시겠습니까?</p>
<%= button_to "탈퇴하기", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-sm right' %>
</div> -->
