<tr id="curriculum_<%= curriculum.id %>">
  <td><%= curriculum.title %></td>
  <td><%= curriculum.project.title %></td>
  <td class="red">
  	<!-- <%= link_to '<i class="ace-icon fa fa-trash-o bigger-130 curriculum_trash"></i>'.html_safe, remove_curriculum_path(curriculum) %> -->
  	<i class="ace-icon fa fa-trash-o bigger-130 curriculum_trash" id="remove_curriculum_<%= curriculum.id %>"></i></td>
</tr>
