<%= form_for @event ||= Event.new, :html => { id: 'event_form', :class => 'form-horizontal' } do |f| %>
  <div class="form-margin">
    <div class="form-group">
      <%=f.label :title, '새로운 이벤트 명', :class => 'form-label events' %>
      <%=f.text_field :title, :class => 'form-control' %>
    </div>
    
    <div class="form-group">
      <%=f.label :description, '설명', :class => 'form-label events' %>
      <%=f.text_area :description, :rows => 4, :cols => 30, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%=f.label :starttime, '<i class="fa fa-calendar bigger-110"></i> 시작시간'.html_safe, :class => 'form-label events' %>    
      <%=f.datetime_select :starttime, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%=f.label :endtime, '<i class="fa fa-calendar bigger-110"></i> 종료시간'.html_safe, :class => 'form-label events'  %>
      <%=f.datetime_select :endtime, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%=f.label :all_day, '하루종일 이벤트로 설정하시려면 체크하세요', :class => 'form-label text-danger'  %>
      <%=f.check_box :all_day, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%=f.label :period, '반복하기', :class => 'form-label events' %>
      <%=f.select :period, Event::REPEATS.values, {}, onchange: "FullcalendarEngine.Events.showPeriodAndFrequency(this.value);", :class => 'form-control' %>
    </div>
    <p id = "frequency" style = "display:none;">
      <%=f.label :frequency, "반복 주기" %>
      <%=f.select :frequency, (1..30).to_a, :class => 'form-control' %> <span id = "period"></span>
    </p>
    <%= f.text_field :project_id, :type => 'hidden', :value => current_project.id %>
    <div class="form-group">
      <%=f.submit '등록', :class => 'form-control btn btn-primary btn-sm' %> <span id = "creating_events" class="spinner" style = "display:none;">Creating, Please wait...</span>
    </div>
  </div>
<%end %>