<h1>Listing progress_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @progress_types.each do |progress_type| %>
      <tr>
        <td><%= progress_type.name %></td>
        <td><%= link_to 'Show', progress_type %></td>
        <td><%= link_to 'Edit', edit_progress_type_path(progress_type) %></td>
        <td><%= link_to 'Destroy', progress_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Progress type', new_progress_type_path %>
