<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <div class="center">
      <h1><span class="gray">트리짓소프트웨어</span></h1>
      <h4 class="blue">공정관리 게시판</h4>
    </div>

    <div class="space-6"></div><!-- 공백 -->

    <h4 class="header blue lighter bigger">
      <i class="icon-coffee green"></i> 로그인
    </h4>
    <p class="alert alert-danger"><%= alert %></p>

    <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <%= link_to '회원가입', new_registration_path(resource_name), class: 'right'  %>
      <% end -%>
      <%= f.label :이메일 %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <!-- <%= link_to "비밀번호를 잊으셨습니까?", new_password_path(resource_name), class: 'right' %> -->
      <% end -%>
      <%= f.label :비밀번호 %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
      <%= f.submit '로그인', :class => 'btn btn-sm btn-primary right' %>
      <div class="space-8"></div>
      <!-- <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %><%= f.label :remember_me %>
        </div>
      <% end -%> -->
  <% end %>
</div>
