<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "T Process" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "T Process" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/ace/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/ace/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="/ace/css/chosen.css" />
    <link rel="stylesheet" href="/ace/css/datepicker.css" />
    <link rel="stylesheet" href="/ace/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="/ace/css/daterangepicker.css" />
    <link rel="stylesheet" href="/ace/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="/ace/css/colorpicker.css" />
  
    <!-- text fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="ace/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- ace styles -->
    <link rel="stylesheet" href="/ace/css/ace.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/ace/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="/ace/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/ace/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/ace/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="/ace/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/ace/js/html5shiv.js"></script>
    <script src="/ace/js/respond.min.js"></script>
    <![endif]-->
    
    <!-- basic scripts -->

    <!-- page specific plugin scripts -->
    
    <script src="/ace/js/jquery-ui.custom.min.js"></script>
    <script src="/ace/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/ace/js/chosen.jquery.min.js"></script>
    <script src="/ace/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="/ace/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/ace/js/date-time/bootstrap-timepicker.min.js"></script>
    <script src="/ace/js/date-time/moment.min.js"></script>
    <script src="/ace/js/date-time/daterangepicker.min.js"></script>
    <script src="/ace/js/date-time/bootstrap-datetimepicker.min.js"></script>
    <script src="/ace/js/bootstrap-colorpicker.min.js"></script>
    <script src="/ace/js/jquery.knob.min.js"></script>
    <script src="/ace/js/jquery.autosize.min.js"></script>
    <script src="/ace/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="/ace/js/jquery.maskedinput.min.js"></script>
    <script src="/ace/js/bootstrap-tag.min.js"></script>



    
    <link rel="stylesheet" href="/common/css/font.css" />
  </head>
  <body class="no-skin">
    <%= render 'layouts/navigation' %>

    <% if user_signed_in? %>
      <div class="main-container" id="main-container">
        <script type="text/javascript">
          try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div class="main-container-inner">
          <div class="left-content">
            <%= render 'admin/layout/left_menu' %>
          </div>
          <div class="main-content">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    <% end %>
    <!-- ace scripts -->
    <script src="/ace/js/ace-elements.min.js"></script>
    <script src="/ace/js/ace.min.js"></script>

  </body>
</html>
